<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
        <title>Notes</title>
    </head>

    <body>
        <!--navigation bar-->
        <header>
            <nav>
                <ul>
                    <li class="img"><img src="/static/images/note.png" /></li>
                    <li><a href="/">Notes</a></li>
                    <li class="right">
                        <a href="/add">Add Note</a>
                        <a href="/profile">Profile</a>
                    </li>
                </ul>
            </nav>
        </header>
        <!--end navigation bar-->

        <h1>My Notes</h1>

        {% if notes %}
            {% for note in notes %}
        <!--notes container-->
        <div class="note-container">
            <h2>{{ note.title.capitalize }} <img src="{{ note.image_url }}" width="80" height="80" /></h2>

            <div class="right">
                <a class="button details" href="{% url 'details' note.id %}">Details</a>
                <a class="button edit" href="{% url 'edit note' note.id %}">Edit</a>
                <a class="button delete" href="{% url 'delete note' note.id %}">Delete</a>
            </div>
        </div>
        <!--end notes container-->
            {% endfor %}

        {% else %}
            <h2 style="text-align: center">There are no notes.</h2>
        {% endif %}




        <footer>
            <div>Python Web Basics Exam @SoftUni</div>
        </footer>
    </body>
</html>
